@import 'normalize.css';

.WeatherInfo {
  .container {
    border: 1px solid #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 30vh;
  }

  .title {
    width: 100%;
    text-align: center;
  }

  .info {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .placeholder {
    width: 100px;
    height: 100px;

    img {
      width: 100%;
      height: 100%;

      &.loading {
        animation: rotate 1.2s linear infinite;
      }

      @keyframes rotate {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }
}

// loading animation
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;

  &::after {
    content: ' ';
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fcf;
    border-color: #fcf transparent #fcf transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }

  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
