@import 'normalize.css';

.App {
  input {
    display: block;
    margin: 0 auto;
    border: 2px solid transparent;
    outline: none;
    transition: all 0.3s linear;
    background-color: #ccc;
  }

  input:focus {
    border-bottom: 2px solid blue;
  }
}

.WeatherInfo {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 30vh;

    .title {
      width: 100%;
      text-align: center;
    }

    .info {
      width: 100%;
      display: flex;
      justify-content: space-around;
    }
  }

  .placeholder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    span {
      flex-basis: 100%;
      text-align: center;
      padding-top: 10px;
    }

    img {
      height: 100px;
      width: 100px;

      &.loading {
        animation: rotate 1.2s linear infinite;
      }

      @keyframes rotate {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }
}

// loading animation
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;

  &::after {
    content: ' ';
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fcf;
    border-color: #fcf transparent #fcf transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }

  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
